.blog {
    margin-top: 10rem;
    padding-bottom: 10rem;
    h2 {
        text-align: left;
    }
    .blog-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .blog-post {
            min-width: 200px;
            max-width: 280px;
            background-color: transparentize(white, 0.85);
            box-shadow: 5px 5px 20px transparentize($content-dark-font, 0.85);
            padding: 20px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            transition: 0.3s all ease-in-out;
            h3 {
                a {
                    font-family: $accent-font;
                    color: $content-dark-font;
                    margin-bottom: 15px;
                    font-size: 2.2rem;
                    transition: 0.3s all ease-in-out;
                }
                a:focus,
                a:hover {
                    color: $accent-cold-color;
                }
                .even-number:focus,
                .even-number:hover {
                    color: $accent-warm-color;
                }
            }
            p {
                font-size: 1.6rem;
            }
            .blog-post-text {
                margin-bottom: 20px;
            }
            .date {
                font-style: italic;
                font-size: 1.5rem;;
                margin-bottom: 10px;
            }
            .medium-link {
                font-weight: 700;
                color: $content-dark-font;
                font-size: 1.4rem;
                text-transform: uppercase;
            }
            .medium-link:focus,
            .medium-link:hover {
                color: transparentize($content-dark-font, 0.55);
            }
        }
        .blog-post:hover {
            background-color: transparentize(white, 0.65);
            box-shadow: 10px 10px 20px transparentize($content-dark-font, 0.70);
        }
    }
}