footer {
    position: relative;
    padding: 2rem;
    h2 {
        font-size: 10rem;
        color: $content-light-font;
        border-bottom: 1px solid $content-light-font;
    }
    h3 {
        font-family: $content-font;
        color: $content-light-font;
    }
    h4 {
        color: $content-light-font;
        font-family: $content-font;
        letter-spacing: 1px;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
    p {
        color: $content-light-font;
    }
    .contact-content {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .contact-means {
            h3 {
                font-size: 2.5rem;
            }
            ul {
                display: flex;
                li {
                    margin-right: 25px;
                    list-style-type: none;
                    a {
                        font-size: 4rem;
                        color: $accent-cold-color;
                        transition: 0.3s all ease-in-out;
                    }
                    .even {
                        color: $accent-warm-color;
                    }
                    a:hover,
                    a:focus {
                        color: $content-light-font;
                    }
                }
            }
        }
        .copyright {
            margin-top: 30px;
            max-width: 500px;
            align-self: flex-end;
            p {
                font-family: $content-font;
                letter-spacing: 1px;
                text-transform: lowercase;
                font-size: 1.6rem;
                color: $content-light-font;
                a {
                    color: $content-light-font;
                }
            }
        }
    }
}

footer:after {
    z-index: -10;
    content: "";
    background-image: url('../assets/header-background.gif');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
} 