nav {
    box-shadow: 5px 5px 20px transparentize($content-dark-font, 0.65);
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: black;
    h4 {
        a {
            span {
                color: $content-light-font;
                font-size: 2.7rem;
                font-family: $accent-font;
                transition: 0.3s all ease-in-out;
            }
        }
        a:hover,
        a:focus {
            .blue {
                color: $accent-cold-color;
            }
            .red {
                color: $accent-warm-color;
            }
        }
    }
    ul {
        display: flex;
        justify-content: right;
        li {
            list-style-type: none;
            margin-right: 30px;
            font-size: 1.8rem;
            font-weight: 300;
            a {
                color: $content-light-font;
                font-family: $accent-font;
                text-transform: uppercase;
                border-bottom: 1px solid transparent;
                transition: 0.3s all ease-in-out;
            }
            a:hover,
            a:focus {
                padding-bottom: 4px;
                border-bottom: 1px solid $accent-cold-color;
                color: $accent-warm-color;
            }
        }
        li:last-child {
            margin-right: 0;
        }
    }
}

nav div.wrapper {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-image: url('../assets/header-background.gif');
    min-height: 85vh;
    max-height: 100vh;
    background-position:center; 
    background-attachment:scroll; 
    -o-background-size:cover; 
    -moz-background-size:cover; 
    -webkit-background-size:cover; 
    background-size:cover; 
    background-repeat:no-repeat;
    color: $content-light-font;
}

.header-content {
    margin-top: 20px;
    .aesthetic-text {
        font-size: 3rem;
    }
    ol {
        margin-top: 40px;
        margin-bottom: 50px;
        line-height: 1.7;
        li {
            font-size: 3rem;
            margin-left: 3rem;
        }
    }
    li:first-child {
        font-weight: 700;
    }
    .additional-description {
        font-size: 2.5rem;
    }
}

.mq-nav {
    display: none;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 30px;
    right: 60px;
    z-index: 1;
    a {
        text-decoration: none;
        color: $content-light-font;
        font-family: $accent-font;
        text-transform: uppercase;
        font-weight: 700;
        transition: color 0.3s ease;
        font-size: 5rem;
    }
    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 1; 
    }
    span {
        width: 40px;
        height: 4px;
        display: block;
        margin-bottom: 5px;
        position: relative;
        box-shadow: 2px 2px 10px transparentize($content-dark-font, 0.55);
        background: $accent-cold-color;
        z-index: 3;
        transform-origin: 2px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    span:first-child {
        transform-origin: 0% 0%;
    }
    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-4.5px, -10px);
        background: $accent-warm-color;
        box-shadow: none;
    }
    input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) translate(0px, 0px);
    }
    input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(4.5px, 0px);
    }
    .menu {
        a:hover,
        a:focus {
            border-bottom: none;
            padding-bottom: 0;
        }
        position: absolute;
        top: -50px;
        width: 150vw;
        height: 120vh;
        margin: -100px 0 0 -700px;
        padding: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: transparentize(black, 0.1);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        li {
            width: 70%;
            padding: 10px 0;
            margin-top: 50px;
            font-size: 5rem;
            border-bottom: 1px solid $content-light-font;
            h4 {
                padding-bottom: 0;
                a {
                    border-bottom: none;
                    display: flex;
                    div {
                        color: $content-light-font;
                        font-size: 10rem;
                        font-family: $accent-font;
                        transition: 0.3s all ease-in-out;
                    }
                    .blue {
                        color: $accent-cold-color;
                    }
                    .red {
                        color: $accent-warm-color;
                    }
                }
                a:hover,
                a:focus {
                    .blue {
                        color: $content-light-font;
                    }
                    .red {
                        color: $content-light-font;
                    }
                }
            }
        }
    }
    input:checked ~ ul {
        transform: none;
    }
}

nav ul li.even a:hover {
    color: $accent-cold-color;
}