@media (max-width: 970px) {
    .wrapper {
        padding: 5rem;
    }
    header {
        min-height: 75vh;
    }
    h1 {
        font-size: 15rem;
    }
    h2 {
        font-size: 10rem;
    }
    h1:before {
        width: 80px;
        height: 120px;
    }
    .aesthetic-text span {
        font-size: 2.5rem;
    }
    .header-content ol li {
        font-size: 2.5rem;
    }
    .header-content .additional-description {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2rem;
    }
    .about {
        margin-top: 40px;
    }
    .about p {
        font-size: 1.5rem;
    }
    .about-description .about-text .boring-facts li {
        font-size: 1.45rem;
    }
    .projects .projects-container .project {
        max-width: 350px;
    }
    .projects .projects-container .project h3,
    .projects .projects-container .project h3 .forward-slash {
        font-size: 2.5rem;
    }
    .projects .projects-container .project .project-tools li {
        letter-spacing: normal;
        font-size: 1.2rem;
    }
    .projects .projects-container .project .buttons li a {
        font-size: 1.5rem;
    }
    .blog .blog-content .blog-post h3 a {
        font-size: 1.5rem;
        letter-spacing: normal;
    }
    .blog .blog-content .blog-post p {
        font-size: 1.4rem;
    }
    .blog .blog-content .blog-post .medium-link {
        font-size: 1.2rem;
    }
    .blog .blog-content .blog-post {
        max-width: 240px;
    }
}

@media (max-width: 850px) {
    nav ul li {
        margin-right: 50px;
        font-weight: 500;
    }
    h3 {
        font-size: 1.8rem;
    }
    .about-description {
        flex-direction: column-reverse;
    }
    .about-description .about-image {
        width: 50%;
        align-self: center;
    }
    .about-description .about-text {
        width: 100%;
    } 
    .toolkit .toolkit-list-container .toolkit-list li {
        font-size: 1.4rem;
    }
    .projects .projects-container .project {
        max-width: 320px;
        padding: 15px;
    }
    .projects .projects-container .project h3, 
    .projects .projects-container .project h3 .forward-slash {
        font-size: 2rem;
    }
    .projects .projects-container .project .project-description {
        font-size: 1.5rem;
    }
    .projects .projects-container .project .project-tools li {
        font-size: 1.1rem;
        padding: 3px;
        font-weight: 500;
        // letter-spacing: 0.5px;
    }
    .projects .projects-container .project .buttons li {
        margin-right: 30px;
    }
    .projects .projects-container .project .buttons li a {
        padding: 5px 10px;
    }
    .blog .blog-content {
        flex-direction: column;
    }
    .blog .blog-content .blog-post {
        max-width: 100%;
        margin-top: 20px;
    }
    .blog .blog-content .blog-post h3 a {
        font-size: 2rem;
    }
    .blog .blog-content .blog-post p {
        font-size: 1.6rem;
    }
    .blog .blog-content .blog-post .medium-link {
        font-size: 1.4rem;
    }
}

@media (max-width: 770px) {
    nav {
        display: none;
    }
    .mq-nav {
        display: block;
    } 
    .menu-toggle {
        display: block;
    }
    .projects .projects-container {
        flex-direction: column;
    }
    .projects .projects-container .project {
        max-width: 100%;
    }
    .projects .projects-container .project h3, 
    .projects .projects-container .project h3 .forward-slash {
        font-size: 3rem;
    }
    .projects .projects-container .project .project-tools li {
        font-size: 1.3rem;
        padding: 5px;
    }
    .projects .projects-container .project .project-description {
        font-size: 1.8rem;
    }
    .projects .projects-container .project .buttons li a {
        padding: 5px 20px;
        font-size: 1.8rem;
    }
}

@media (max-width: 720px) {
    .menu-toggle .menu {
        padding: 200px;
    }
    .about-description .about-text,
    .toolkit {
        padding: 0px 20px;
    }
    .toolkit .toolkit-list-container .toolkit-list li {
        font-size: 1.1rem;
        letter-spacing: normal;
    }
}

@media (max-width: 645px) {
    .menu-toggle .menu {
        padding: 300px;
    }
}

@media (max-width: 590px) {
    .wrapper {
        padding: 2rem;
    }
    h1 {
        font-size: 12rem;
    }
    h1::before {
        height: 100px;
        width: 110px;
        top: 22px;
        left: -55px;
    }
    header .wrapper {
        padding: 5rem;
    }
    h2,
    footer h2 {
        font-size: 8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .menu-toggle .menu {
        margin: -100px 0 0 -550px;
    }
    .menu-toggle .menu li {
        border: none;
    }
    .header-content ol li {
        font-size: 2rem;
    }
    .about-description .about-image {
        width: 70%;
    }
    .toolkit .toolkit-list-container .toolkit-list li {
        font-size: 1.1rem;
    }
    .projects .projects-container .project {
        margin-bottom: 100px;
    }
    .projects .projects-container .project h3, 
    .projects .projects-container .project h3 .forward-slash {
        font-size: 2.2rem;
    }
    .projects .projects-container .project .project-tools li {
        font-size: 1.1rem;
    }
    .projects .projects-container .project .project-description,
    .projects .projects-container .project .buttons li a {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding: 1rem;
    }
    .toolkit {
        padding: 0px 10px;
    }
    .about {
        padding: 20px 0px;
    }
    .toolkit {
        display: none;
    }
    footer .contact-content .contact-means h3 {
        font-size: 2rem;
    }
    footer h4 {
        font-size: 1.5rem;
    }
    footer .contact-content .contact-means ul li a {
        font-size: 3rem;
    }
}

@media (max-width: 435px) {
    .menu-toggle {
        right: 20px;
        padding: 0;
    }
    .menu-toggle .menu {
        width: auto;
    }
    header .wrapper {
        padding: 3rem;
    }
    header {
        min-height: 65vh;
    }
    h1 {
        font-size: 10rem;
    }
    h1::before {
        height: 80px;
        top: 23px;
    }
    h2, footer h2 {
        font-size: 6rem;
    }
    .aesthetic-text span {
        font-size: 2rem;
    }
    .header-content ol li {
        font-size: 1.8rem;
    }
    .header-content .additional-description {
        font-size: 1.5rem;
        line-height: 1.7;
    }
    h3 {
        font-size: 1.7rem;
    }
    .projects .projects-container .project .project-tools li {
        font-size: 1rem;
    }
}