@media (max-width: 960px) {
    .wrapper {
        padding: 5rem;
    }
    header {
        min-height: 75vh;
    }
    h1 {
        font-size: 15rem;
    }
    h2 {
        font-size: 10rem;
    }
    h1:before {
        width: 80px;
        height: 120px;
    }
    .aesthetic-text span {
        font-size: 2.5rem;
    }
    .header-content ol li {
        font-size: 2.5rem;
    }
    .header-content .additional-description {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2rem;
    }
    .about {
        margin-top: 40px;
    }
    .about p {
        font-size: 1.5rem;
    }
    .about-description .about-text .boring-facts li {
        font-size: 1.45rem;
    }
    .projects .projects-container .project {
        max-width: 350px;
    }
    .projects .projects-container .project h3,
    .projects .projects-container .project h3 .forward-slash {
        font-size: 2.5rem;
    }
    .projects .projects-container .project .project-tools li {
        letter-spacing: normal;
        font-size: 1.2rem;
    }
    .projects .projects-container .project .buttons li a {
        font-size: 1.5rem;
    }
    .blog .blog-content .blog-post h3 a {
        font-size: 1.5rem;
        letter-spacing: normal;
    }
    .blog .blog-content .blog-post p {
        font-size: 1.4rem;
    }
    .blog .blog-content .blog-post .medium-link {
        font-size: 1.2rem;
    }
    .blog .blog-content .blog-post {
        max-width: 240px;
    }
}