.projects {
    padding-top: 10rem;
    .projects-container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .project {
            max-width: 450px;
            background-color: transparentize(white, 0.85);
            box-shadow: 5px 5px 20px transparentize($content-dark-font, 0.85);
            margin-bottom: 40px;
            padding: 20px;
            transition: 0.3s all ease-in-out;
            h3 {
                font-size: 3rem;
                font-weight: 400;
                .forward-slash {
                    font-size: 3rem;
                    font-weight: 300;
                }
                .projects-number {
                    font-weight: 700;
                    font-family: $accent-font;
                    color: $accent-warm-color;
                }
                .odd-number {
                    color: $accent-cold-color;
                }
            }
            .buttons {
                display: flex;
                margin-top: 35px;
                margin-bottom: 10px;
                li {
                    list-style-type: none;
                    margin-right: 20px;
                    a {
                        background-color: transparent;
                        padding: 5px 30px;
                        font-weight: 700;
                        color: $content-dark-font;
                        font-size: 1.8rem;
                        font-family: $accent-font;
                        text-transform: uppercase;
                        border: 1px solid $content-dark-font;
                        box-shadow: 6px 6px 0px transparentize($content-dark-font, 0.85);
                        transition: 0.3s all ease-in-out;
                    }
                    a:hover,
                    a:focus {
                        background-color: $accent-cold-color;
                        color: $content-light-font;
                        box-shadow: 3px 3px 0px transparentize($content-dark-font, 0.65);
                    }
                }
            }
            .even-buttons {
                li {
                    a {
                        background-color: transparent;
                    }
                    a:hover,
                    a:focus {
                        background-color: $accent-warm-color;
                    }
                }
            }
            .project-tools {
                display: flex;
                margin-bottom: 20px;
                li {
                    font-size: 1.3rem;
                    letter-spacing: 1px;
                    margin-right: 15px;
                    padding: 5px;
                    // background-color: transparentize($content-dark-font, 0.55);
                    color: transparentize($content-dark-font, 0.5);
                    border: 1px solid transparentize($content-dark-font, 0.6);
                    font-family: $accent-font;
                    text-transform: uppercase;
                    list-style-type: none;
                }
            }
            .project-description {
                font-size: 1.8rem;
            }
        }
        .project:hover {
            background-color: transparentize(white, 0.65);
            box-shadow: 10px 10px 20px transparentize($content-dark-font, 0.70);
        }
    }
}