// fonts 
$accent-font: 'Oswald', sans-serif;
$content-font: 'Quattrocento', serif;

// colors 
$content-dark-font: #292929;
$content-light-font: #dbdbdb; 
$accent-cold-color: #3a86ff;
$accent-warm-color: #e63946;