// fonts 
$accent-font: 'Oswald', sans-serif;
$content-font: 'Merriweather', serif;

// colors 
$content-dark-font: black;
$content-light-font: white; 
$accent-cold-color: #3a86ff;
$accent-warm-color: #e63946;