html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}

h1, h2, h3, h4, p, a, ul, ol, li, span {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  color: black;
  text-transform: uppercase;
}

p, a, ul, ol, li, span {
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 20rem;
  color: white;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 0;
}

h1::before {
  content: '';
  display: block;
  width: 105px;
  height: 150px;
  position: absolute;
  background-image: url("../assets/design-element.png");
  background-repeat: no-repeat;
  bottom: 23px;
  left: -50px;
  z-index: -20;
}

h2 {
  text-align: right;
  font-size: 15rem;
  text-shadow: 10px 0px rgba(0, 0, 0, 0.15);
}

h3 {
  font-size: 2.3rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p {
  font-size: 2rem;
}

.forward-slash {
  font-family: "Oswald", sans-serif;
}

.fat-text {
  font-weight: 700;
}

.italic-text {
  font-style: italic;
}

main {
  background-color: white;
}

nav {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: black;
}

nav h4 a span {
  color: white;
  font-size: 2.7rem;
  font-family: "Oswald", sans-serif;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

nav h4 a:hover .blue,
nav h4 a:focus .blue {
  color: #3a86ff;
}

nav h4 a:hover .red,
nav h4 a:focus .red {
  color: #e63946;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

nav ul li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 1.8rem;
  font-weight: 500;
}

nav ul li a {
  color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
  padding-bottom: 4px;
  border-bottom: 1px solid #3a86ff;
  color: #e63946;
}

nav ul li:last-child {
  margin-right: 0;
}

nav div.wrapper {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  background-image: url("../assets/header-background.gif");
  min-height: 85vh;
  max-height: 100vh;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.header-content {
  margin-top: 20px;
}

.header-content .aesthetic-text {
  font-size: 3rem;
}

.header-content ol {
  margin-top: 40px;
  margin-bottom: 50px;
  line-height: 1.7;
}

.header-content ol li {
  font-size: 3rem;
  margin-left: 3rem;
}

.header-content li:first-child {
  font-weight: 700;
}

.header-content .additional-description {
  font-size: 2.5rem;
}

.mq-nav {
  display: none;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 30px;
  right: 60px;
  z-index: 1;
}

.menu-toggle a {
  text-decoration: none;
  color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 5rem;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.menu-toggle span {
  width: 40px;
  height: 4px;
  display: block;
  margin-bottom: 5px;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
  background: #3a86ff;
  z-index: 3;
  -webkit-transform-origin: 2px 0px;
          transform-origin: 2px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-toggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-4.5px, -10px);
          transform: rotate(45deg) translate(-4.5px, -10px);
  background: #e63946;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(4.5px, 0px);
          transform: rotate(-45deg) translate(4.5px, 0px);
}

.menu-toggle .menu {
  position: absolute;
  top: -50px;
  width: 150vw;
  height: 120vh;
  margin: -100px 0 0 -700px;
  padding: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu-toggle .menu a:hover,
.menu-toggle .menu a:focus {
  border-bottom: none;
  padding-bottom: 0;
}

.menu-toggle .menu li {
  width: 70%;
  padding: 10px 0;
  margin-top: 50px;
  font-size: 5rem;
  border-bottom: 1px solid white;
}

.menu-toggle .menu li h4 {
  padding-bottom: 0;
}

.menu-toggle .menu li h4 a {
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-toggle .menu li h4 a div {
  color: white;
  font-size: 10rem;
  font-family: "Oswald", sans-serif;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.menu-toggle .menu li h4 a .blue {
  color: #3a86ff;
}

.menu-toggle .menu li h4 a .red {
  color: #e63946;
}

.menu-toggle .menu li h4 a:hover .blue,
.menu-toggle .menu li h4 a:focus .blue {
  color: white;
}

.menu-toggle .menu li h4 a:hover .red,
.menu-toggle .menu li h4 a:focus .red {
  color: white;
}

.menu-toggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

nav ul li.even a:hover {
  color: #3a86ff;
}

.about {
  line-height: 1.7;
  padding: 50px 0;
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.about p {
  margin-top: 10px;
  line-height: 1.7;
  font-size: 1.7rem;
  color: black;
}

.about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-description .about-image {
  width: 35%;
}

.about-description .about-image img {
  width: 100%;
  display: block;
}

.about-description .about-text {
  width: 65%;
  padding: 0px 30px;
}

.about-description .about-text h2 {
  font-size: 3rem;
  text-align: start;
  text-shadow: none;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.about-description .about-text .about-main-content {
  padding-bottom: 10px;
}

.about-description .about-text .fa-music {
  font-size: 2rem;
  color: #3a86ff;
  text-shadow: 12px 0px #e63946;
}

.about-description .about-text .boring-title {
  margin-top: 20px;
}

.about-description .about-text .boring-facts li {
  font-size: 1.65rem;
  list-style-type: none;
}

.about-description .about-text .boring-facts li a {
  color: black;
}

.about-description .about-text .boring-facts li a:hover {
  color: rgba(0, 0, 0, 0.35);
}

.about-description .about-text .boring-facts li .fa-angle-right {
  font-size: 1.65rem;
  color: black;
  margin-right: 5px;
}

.toolkit {
  margin-top: 40px;
  padding: 0px 50px;
}

.toolkit .toolkit-list-container {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toolkit .toolkit-list-container .toolkit-list,
.toolkit .toolkit-list-container .toolkit-learning {
  line-height: 2;
}

.toolkit .toolkit-list-container .toolkit-list li,
.toolkit .toolkit-list-container .toolkit-learning li {
  font-size: 1.6rem;
  list-style-type: none;
  text-transform: uppercase;
}

.projects {
  padding-top: 10rem;
}

.projects .projects-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .projects-container .project {
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  padding: 20px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.projects .projects-container .project h3 {
  font-size: 3rem;
  font-weight: 400;
}

.projects .projects-container .project h3 .forward-slash {
  font-size: 3rem;
  font-weight: 300;
}

.projects .projects-container .project h3 .projects-number {
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #e63946;
}

.projects .projects-container .project h3 .odd-number {
  color: #3a86ff;
}

.projects .projects-container .project .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 10px;
}

.projects .projects-container .project .buttons li {
  list-style-type: none;
  margin-right: 20px;
}

.projects .projects-container .project .buttons li a {
  background-color: transparent;
  padding: 5px 30px;
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border: 1px solid black;
  -webkit-box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.projects .projects-container .project .buttons li a:hover,
.projects .projects-container .project .buttons li a:focus {
  background-color: #3a86ff;
  color: white;
  -webkit-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.35);
}

.projects .projects-container .project .even-buttons li a {
  background-color: transparent;
}

.projects .projects-container .project .even-buttons li a:hover,
.projects .projects-container .project .even-buttons li a:focus {
  background-color: #e63946;
}

.projects .projects-container .project .project-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.projects .projects-container .project .project-tools li {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-right: 15px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
}

.projects .projects-container .project .project-description {
  font-size: 1.8rem;
}

.projects .projects-container .project:hover {
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.blog {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.blog h2 {
  text-align: left;
}

.blog .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .blog-content .blog-post {
  min-width: 200px;
  max-width: 280px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog .blog-content .blog-post h3 a {
  font-family: "Oswald", sans-serif;
  color: black;
  margin-bottom: 15px;
  font-size: 2.2rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.blog .blog-content .blog-post h3 a:focus,
.blog .blog-content .blog-post h3 a:hover {
  color: #3a86ff;
}

.blog .blog-content .blog-post h3 .even-number:focus,
.blog .blog-content .blog-post h3 .even-number:hover {
  color: #e63946;
}

.blog .blog-content .blog-post p {
  font-size: 1.6rem;
}

.blog .blog-content .blog-post .blog-post-text {
  margin-bottom: 20px;
}

.blog .blog-content .blog-post .date {
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.blog .blog-content .blog-post .medium-link {
  font-weight: 700;
  color: black;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.blog .blog-content .blog-post .medium-link:focus,
.blog .blog-content .blog-post .medium-link:hover {
  color: rgba(0, 0, 0, 0.45);
}

.blog .blog-content .blog-post:hover {
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

footer {
  position: relative;
  padding: 2rem;
}

footer h2 {
  font-size: 10rem;
  color: white;
  border-bottom: 1px solid white;
}

footer h3 {
  font-family: "Merriweather", serif;
  color: white;
}

footer h4 {
  color: white;
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

footer p {
  color: white;
}

footer .contact-content {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .contact-content .contact-means h3 {
  font-size: 2.5rem;
}

footer .contact-content .contact-means ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contact-content .contact-means ul li {
  margin-right: 25px;
  list-style-type: none;
}

footer .contact-content .contact-means ul li a {
  font-size: 4rem;
  color: #3a86ff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

footer .contact-content .contact-means ul li .even {
  color: #e63946;
}

footer .contact-content .contact-means ul li a:hover,
footer .contact-content .contact-means ul li a:focus {
  color: white;
}

footer .contact-content .copyright {
  margin-top: 30px;
  max-width: 500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .contact-content .copyright p {
  font-family: "Merriweather", serif;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.6rem;
  color: white;
}

footer .contact-content .copyright p a {
  color: white;
}

footer:after {
  z-index: -10;
  content: "";
  background-image: url("../assets/header-background.gif");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 970px) {
  .wrapper {
    padding: 5rem;
  }
  header {
    min-height: 75vh;
  }
  h1 {
    font-size: 15rem;
  }
  h2 {
    font-size: 10rem;
  }
  h1:before {
    width: 80px;
    height: 120px;
  }
  .aesthetic-text span {
    font-size: 2.5rem;
  }
  .header-content ol li {
    font-size: 2.5rem;
  }
  .header-content .additional-description {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 2rem;
  }
  .about {
    margin-top: 40px;
  }
  .about p {
    font-size: 1.5rem;
  }
  .about-description .about-text .boring-facts li {
    font-size: 1.45rem;
  }
  .projects .projects-container .project {
    max-width: 350px;
  }
  .projects .projects-container .project h3,
  .projects .projects-container .project h3 .forward-slash {
    font-size: 2.5rem;
  }
  .projects .projects-container .project .project-tools li {
    letter-spacing: normal;
    font-size: 1.2rem;
  }
  .projects .projects-container .project .buttons li a {
    font-size: 1.5rem;
  }
  .blog .blog-content .blog-post h3 a {
    font-size: 1.5rem;
    letter-spacing: normal;
  }
  .blog .blog-content .blog-post p {
    font-size: 1.4rem;
  }
  .blog .blog-content .blog-post .medium-link {
    font-size: 1.2rem;
  }
  .blog .blog-content .blog-post {
    max-width: 240px;
  }
}

@media (max-width: 850px) {
  nav ul li {
    margin-right: 50px;
    font-weight: 500;
  }
  h3 {
    font-size: 1.8rem;
  }
  .about-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-description .about-image {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about-description .about-text {
    width: 100%;
  }
  .toolkit .toolkit-list-container .toolkit-list li {
    font-size: 1.4rem;
  }
  .projects .projects-container .project {
    max-width: 320px;
    padding: 15px;
  }
  .projects .projects-container .project h3,
  .projects .projects-container .project h3 .forward-slash {
    font-size: 2rem;
  }
  .projects .projects-container .project .project-description {
    font-size: 1.5rem;
  }
  .projects .projects-container .project .project-tools li {
    font-size: 1.1rem;
    padding: 3px;
    font-weight: 500;
  }
  .projects .projects-container .project .buttons li {
    margin-right: 30px;
  }
  .projects .projects-container .project .buttons li a {
    padding: 5px 10px;
  }
  .blog .blog-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .blog-content .blog-post {
    max-width: 100%;
    margin-top: 20px;
  }
  .blog .blog-content .blog-post h3 a {
    font-size: 2rem;
  }
  .blog .blog-content .blog-post p {
    font-size: 1.6rem;
  }
  .blog .blog-content .blog-post .medium-link {
    font-size: 1.4rem;
  }
}

@media (max-width: 770px) {
  nav {
    display: none;
  }
  header {
    background-size: cover;
  }
  .mq-nav {
    display: block;
  }
  .menu-toggle {
    display: block;
  }
  .projects .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .projects-container .project {
    max-width: 100%;
  }
  .projects .projects-container .project h3,
  .projects .projects-container .project h3 .forward-slash {
    font-size: 3rem;
  }
  .projects .projects-container .project .project-tools li {
    font-size: 1.3rem;
    padding: 5px;
  }
  .projects .projects-container .project .project-description {
    font-size: 1.8rem;
  }
  .projects .projects-container .project .buttons li a {
    padding: 5px 20px;
    font-size: 1.8rem;
  }
}

@media (max-width: 720px) {
  .menu-toggle .menu {
    padding: 200px;
  }
  .about-description .about-text,
  .toolkit {
    padding: 0px 20px;
  }
  .toolkit .toolkit-list-container .toolkit-list li {
    font-size: 1.1rem;
    letter-spacing: normal;
  }
}

@media (max-width: 645px) {
  .menu-toggle .menu {
    padding: 300px;
  }
}

@media (max-width: 590px) {
  .wrapper {
    padding: 2rem;
  }
  h1 {
    font-size: 12rem;
    color: #3a86ff;
    text-shadow: 8px 0px #e63946;
  }
  h1::before {
    display: none;
  }
  header {
    background-size: 300%;
  }
  header .wrapper {
    padding: 5rem;
  }
  h2,
  footer h2 {
    font-size: 8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .menu-toggle .menu {
    margin: -100px 0 0 -550px;
  }
  .menu-toggle .menu li {
    margin-top: 30px;
    border: none;
  }
  .header-content ol li {
    font-size: 2rem;
  }
  .about-description .about-image {
    width: 70%;
  }
  .toolkit .toolkit-list-container .toolkit-list li {
    font-size: 1.1rem;
  }
  .projects .projects-container .project {
    margin-bottom: 100px;
  }
  .projects .projects-container .project h3,
  .projects .projects-container .project h3 .forward-slash {
    font-size: 2.2rem;
  }
  .projects .projects-container .project .project-tools li {
    font-size: 1.1rem;
  }
  .projects .projects-container .project .project-description,
  .projects .projects-container .project .buttons li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 1rem;
  }
  .toolkit {
    padding: 0px 10px;
  }
  .about {
    padding: 20px 0px;
  }
  .toolkit {
    display: none;
  }
  footer .contact-content .contact-means h3 {
    font-size: 2rem;
  }
  footer h4 {
    font-size: 1.5rem;
  }
  footer .contact-content .contact-means ul li a {
    font-size: 3rem;
  }
}

@media (max-width: 435px) {
  .menu-toggle {
    right: 20px;
    padding: 0;
  }
  .menu-toggle .menu {
    width: auto;
  }
  header .wrapper {
    padding: 3rem;
  }
  header {
    min-height: 65vh;
  }
  h1 {
    font-size: 10rem;
  }
  h1::before {
    height: 80px;
    top: 23px;
  }
  h2, footer h2 {
    font-size: 6rem;
  }
  .aesthetic-text span {
    font-size: 2rem;
  }
  .header-content ol li {
    font-size: 1.8rem;
  }
  .header-content .additional-description {
    font-size: 1.5rem;
    line-height: 1.7;
  }
  h3 {
    font-size: 1.7rem;
  }
  .projects .projects-container .project .project-tools li {
    font-size: 1rem;
  }
}
